@(title: String, orders: Seq[((Option[Long], String, String, Option[String], String, String, Int, String, Int, String, Int, Double), Int)] = Seq(),
        fries: Seq[Fry] = Seq[Fry](), drinks: Seq[Drink] = Seq[Drink](), tacos: Seq[Tacos] = Seq[Tacos](),
        errorList: List[String] = List[String]())

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@mainUser(title) {
    @defining(play.core.PlayVersion.current) { version =>
    <tr class="signup-form">
        <form action="@routes.tacosUserOrderController.order()" method="post">
            <h2>Espace de commande</h2>
            <table>
                @if(orders.nonEmpty) {
                    <tr>
                        <td>
                            <h4>Commandes en cours</h4>
                        </td>
                        <td colspan="2">
                            <ul class="list-group">
                            @for((order, index) <- orders) {
                                <li class="list-group-item active">No. @{index + 1} Date: @order._4 Heure: @order._5 Prix total: @order._12 .-</li>
                                <ul class="list-group">
                                    <li class="list-group-item">@order._6 @order._7</li>
                                    <li>@order._8 @order._9</li>
                                    <li>@order._10 @order._11</li>
                                </ul>
                            }
                            </ul>
                        </td>
                    </tr>
                }

                @if(errorList.nonEmpty) {
                    <tr>
                        <td colspan="3">
                            <ul>
                                @errorList.map { e => <li><p style="color: red"><strong>@e</strong></p></li> }
                            </ul>
                        </td>
                    </tr>
                }

                @if(fries.nonEmpty) {
                    <tr>
                        <td>
                            <h4>Frites</h4>
                        </td>
                        <td>
                            <select name="fryId" size="1">
                            @for(f <- fries) {
                                <option value="@f.id">@f.name @f.portion @f.price .-</option>
                            }
                            </select>
                        </td>
                        <td>
                            Quantité: <input type="number" class="form-control" name="fryQuantity" value="0" min="0" max="1000">
                        </td>
                    </tr>
                }

                @if(drinks.nonEmpty) {
                    <tr>
                        <td>
                            <h4>Boisson</h4>
                        </td>
                        <td>
                            <select name="drinkId" size="1">
                                @for(d <- drinks) {
                                <option value="@d.id">@d.name @d.deciliter @d.price .-</option>
                                }
                            </select>
                        </td>
                        <td>
                            Quantité: <input type="number" class="form-control" name="drinkQuantity" value="0" min="0" max="1000">
                        </td>
                    </tr>
                }

                @if(tacos.nonEmpty) {
                    <tr>
                        <td>
                            <h4>Tacos</h4>
                        </td>
                        <td>
                            <select name="tacosId" size="1">
                            @for(t <- tacos) {
                                <option value="@t.id">@t.name @t.price .-</option>
                            }
                            </select>
                        </td>
                        <td>
                            Quantité: <input type="number" class="form-control" name="tacosQuantity" value="0" min="0" max="1000">
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Commander</button>
                    </td>
                </tr>
            </table>
        </form>
    }
}