
@(message: String, ordersUsers: Seq[(Order, String)] = Seq())

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@mainAdmin(message) {
    @defining(play.core.PlayVersion.current) { version =>
        <h1>admin: commandes du jour</h1>
        <ul>
            @for((order, user) <- ordersUsers){
                <li>
                    <h2>Commande n°@order.id</h2>
                    <ul>
                        <li>Client ID : @user</li>
                        <li>Heure de livraison : @order.hourOrder</li>
                        <li>Prix : @order.price .-</li>
                        <li>@order</li>
                    </ul>
                </li>
            }
        </ul>
    }
}