@(message: String)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(message) {
    @defining(play.core.PlayVersion.current) { version =>
        <h1>Accueil</h1>
        <p>Intergalactic TACOS food est une roulotte qui fait des tacos tous les jours entre 11h et 14h à la gare d'Yverdon.<br><br>
        Pour éviter toute attente sur place, vous pouvez vous créer un compte et commander votre repas puis payer sur place, une fois servi.<br><br>
        Les commandes s'effectuent uniquement pour le jour même (ou le jour d'après si après 14h).<br>
        Indiquez-nous l'heure à laquelle vous souhaiteriez manger et nous nous ferons un plaisir de vous servir.</p>
    }
}