
@(message: String, orders: Seq[Order])

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@mainAdmin(message) {
    @defining(play.core.PlayVersion.current) { version =>
        <h1>admin: commandes du jour</h1>
        <ul>
            @for(i <- orders){
                <li>
                    <h2>Commande n°@i.id</h2>
                    <ul>
                        <li>Client ID : @i.person</li>
                        <li>Heure de livraison : @i.hourOrder</li>
                        <li>Prix : @i.price .-</li>
                        <li>@i</li>
                    </ul>
                </li>
            }
        </ul>
    }
}