@(message: String)

@defining(play.core.PlayVersion.current) { version =>
    <h1>Students</h1>
    <table class="things-table" id="table-students">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Is Insolent?</th>
            <th></th>
        </tr>
        </table>

    <h1>Courses</h1>
    <table class="things-table" id="table-courses">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Has apero?</th>
            <th></th>
        </tr>
    </table>

    <p>
        Add students and even more with the REST API!
    </p>
    <br/>
    <a href="@routes.tacosHomeController.tacosHome()">About...</a>
}